
@model StudentsModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "AddStudents";
}
    <div class="super_container">
        <table>
            <tr>
                <th>Name</th>
            </tr>
            @foreach (Student student in Model.students)
            {
                <tr>
                    <td>@student.Student_name</td>
                </tr>

            }
        </table>
        <br>
        <h4>Add Students</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">

                <form asp-action="AddStudents">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.student.Student_name" class="control-label"></label>
                        <input asp-for="@Model.student.Student_name" class="form-control" />
                        <span asp-validation-for="@Model.student.Student_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </div>