@model IEnumerable<Student>

@{
    ViewData["Title"] = "Groups";
}

<form class="table" method="post" action="GetGroups">
    <input type="hidden" value="" name="Group" />
    <table>
        <tr class=" w-100">
            <td class="form-text text-info ">Enter which Group</td>
            <td><input type="text" name="Group" /></td>
            <td><input class="btn btn-info" type="submit" value="Find" /></td>
        </tr>
    </table>
</form>

<div class="text-center"> 
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card h-100">
                    <div class="caption">
                        <a href="/Home/GetGroups/@item.Student_name"><h3>@item.Attend</h3></a>
                        <p class="description">@item.Group</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


