@*@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    <h1 class="display-4">Students</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card h-100">
                    <div class="caption">
                        <a href="/Home/GetStudents/@item.Student_name"><h3>@item.Student_name</h3></a>
                        <p class="description">@item.Group</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@