@model IEnumerable<Subject>
@using Microsoft.AspNetCore.Identity;
@using Attendance.Models;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <table>
            <tbody>
                <tr>
                    <th>Lessons</th>
                </tr>
                @foreach (var student in Model.GroupBy(x=>x.Lesson))
                {
                    
                    <tr>
                        <td>
                            <a asp-controller="Home" asp-action="Groups" 
                        asp-all-route-data='new Dictionary<string,string> { { "Lesson", student.Key }}'>
                            @Html.DisplayFor(modelItem => student.Key)</a>
                         </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>