@model Dictionary<string, string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Subjects</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card h-100">
                    <div class="caption">
                        <a href="/Home/Index/@item.Key"><h3>@item.Key</h3></a>
                        <p class="description">@item.Value</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>