@model IEnumerable<Subject>
@using Microsoft.AspNetCore.Identity;
@using Attendance.Models;

@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4 text-center">Subjects</h1>
<div class="list-group">
    @foreach (var item in Model.GroupBy(x => x.Lesson))
    {
        <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Groups"
           asp-route-lesson="@item.Key">
            @Html.DisplayFor(modelItem => item.Key)
        </a>
    }
</div>
