@model IEnumerable<Attend>

@{
    ViewData["Title"] = "Students list";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            @foreach (var student in Model.OrderBy(x => x.Data).GroupBy(x => x.Data))
            {
                <th>
                    @student.Key.ToShortDateString()
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.OrderBy(x => x.Data).GroupBy(x => x.Student_name))
        {
            <tr>
                <td>
                    @student.Key
                </td>
                @foreach (var item in student)
                {
                    <td>
                        @Html.DisplayFor(x => item.Presence)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


